@page
@model TicTacToe5.Pages.Players.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TblPlayers</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TblPlayers.PlayerId" />
            <div class="form-group">
                <label asp-for="TblPlayers.Username" class="control-label"></label>
                <input asp-for="TblPlayers.Username" class="form-control" />
                <span asp-validation-for="TblPlayers.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblPlayers.Password" class="control-label"></label>
                <input asp-for="TblPlayers.Password" class="form-control" />
                <span asp-validation-for="TblPlayers.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" asp-page-handler="NewPlayer" asp-route-id="@Model.TblPlayers.PlayerId" type="submit">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
